<!-- Favicon -->
<link rel="shortcut icon" href="/static/favicon.ico">
<link rel="icon" href="/static/favicon.ico" type="image/x-icon">

<!-- Morris Charts CSS -->
<link th:href="@{static/vendors/bower_components/morris.js/morris.css}"
	rel="stylesheet" type="text/css" />

<!-- Data table CSS -->
<link
	href="/static/vendors/bower_components/datatables/media/css/jquery.dataTables.min.css"
	rel="stylesheet" type="text/css" />

<link
	href="/static/vendors/bower_components/jquery-toast-plugin/dist/jquery.toast.min.css"
	rel="stylesheet" type="text/css">

<!-- Custom CSS -->
<link href="/static/dist/css/style.css" rel="stylesheet" type="text/css">

<!-- Link from W3School to make form input -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link href="https://fonts.googleapis.com/css?family=Khmer"
	rel="stylesheet">